@charset "utf-8";


// css reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
h1, h2, h3, h4, h5, h6{
    font-weight: normal;
    font-size: 100%;
}
$color333: #333333;
$colorEC5308: #EC5308;
$pos-relative:relative;
body {
    line-height: 1;
    font-size: 16px;
    font-family: "微软雅黑",Arial, Helvetica, sans-serif;
    color: $color333;
    background: #ffffff;
}
a{
    color: $color333;
    text-decoration: none;
    outline: none;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}       
input,textarea,select,button{
    outline: none;
    border: none;
    background: none;
}                 
input[type='button'],input[type='submit']{
    cursor: pointer;
}  
img{
    border: none;
    vertical-align: middle;
}    
textarea{
    resize: none;
}           


//公共样式设置
@mixin g-transtion($val) {
    -webkit-transition: $val;
    -moz-transition: $val;
    -ms-transtion: $val;
    -o-transition: $val;
    transition: $val;
}
@mixin g-transform($val) {
    -webkit-transform: $val;
    -moz-transform: $val;
    -ms-transform: $val;
    -o-transform: $val;
    transform: $val;
}
@mixin g-input-color($val) {
    input::-webkit-input-placeholder {color: $val}
    input::-moz-placeholder {color: $val}
    input:-moz-placeholder {color: $val}
    input::-ms-input-placeholder {color: $val}
    input::-o-placeholder {color: $val}
}
// 计算平均值
@function calaPx($val1,$val2) {
    @return $val1 / $val2;
}



.clearfix{
    zoom: 1;
    &::before{
        content: "";
        display: block;
        clear: both;
        overflow: hidden;
    }
    .float-left{
        float: left;
    }
    .float-right{
        float: right;
    }
}

.wrapper{
    width: 1200px;
    margin: 0 auto;
}

.d-flex{
    display: flex;
    display: -webkit-flex;
    
}

a:hover{
    @include g-transtion(all .2s);
}

// 垂直居中
.vertical-center{
    @extend .d-flex;
    .vertical-center-child{
        margin: auto;
    }
}

